.Forecast {
    display: block;
    align-items: center;
}

.Location {
    font-size: 20px;
    margin-bottom: 10px;
}

.Date {
    font-size: 18px;
    font-weight: 500;
    font-style: oblique;
}

.Temp {
    font-size: 64px;
    font-weight: 700;
    color: #1e2432;
    text-align: center;
}

.Temp button {
  font-size: 32px;
  cursor: pointer;
}

.Weather-today p {
  color: #5146af;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}

.Air {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    color: #1e2432;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.air-col {
    display: flex;
    flex-direction: row;
    line-height: 1px;
    background-color:#333b68;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.air-col p {
    margin-left:  5px;
    color: #fff;
}

.forcast-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #1e2432;
  width: 100%;
  /* vertical-align: middle; */

}

.forcast-row {
    vertical-align: auto;
}

.day {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    width: 25%;
}

.day:hover {
    background-color: #7f75d8;
}

.day p {
    margin-top: 5px;
    font-weight: 300;
}

.day img {
    width: 50px;
}