*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  background: #e2d4ff;
  padding: 20px 15px;
  text-align: center;
}

.error-message {
  display: block;
  text-align: center;
  color: #f06789;
  font-size: 30px;
  font-weight: bold;
  margin-top: auto;
}